<p>detalle works!</p>

<div id="main-container">
    <div id="chars-container">
        <div class="char-container">
        <img src="{{item.image}}" />
        <br>
        <p></p>
        <div>{{item.id}}</div>
        <br>
        <div id="char-name">{{item.name}}</div>
        <br>
        <div id="char-status">{{item.status}}</div>
        <br>
        <div>{{item.species}}</div>
        <br>
        <div id="location">{{item.origin.name}}</div>
        <br>
    </div>
    </div>
    </div>
